::deep .my-form-layout {
    width: 680px;
}

::deep .btn-icon {
    background-image: url("/icons/expand.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
}

::deep .revert-icon {
    transform: rotate(180deg);
}
